#root {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.horizontalLine {
  border-top: 3px solid #213446;
  width: 100%;
  border-radius: 10px;
}

.icons {
  display: flex;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: 213446;
}

.todo-form {
  margin: 20px auto;
}

.todo-title,
.todo-content {
  margin: 0 5px;
  margin-right: 20px;
}
